<a href="https://colab.research.google.com/github/freddy-7/TI3002C/blob/main/9_Regresion_Logistica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Cargamos librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.special as special
from scipy.optimize import curve_fit
import seaborn as sns
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
#Cargar archivo csv desde seaborn
df=sns.load_dataset(name='titanic')
df.head(20)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
12,0,3,male,20.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
13,0,3,male,39.0,1,5,31.2750,S,Third,man,True,NaN,Southampton,no,False
14,0,3,female,14.0,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
15,1,2,female,55.0,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
16,0,3,male,2.0,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
18,0,3,female,31.0,1,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True

In [3]:
#Convertir archivo filtrado a CSV
df.to_csv("Titanic_Completo.csv")

In [5]:
#Rellenamos nulos
df =df.fillna(method="bfill")
df =df.fillna(method="ffill")

C:\Users\alfre\AppData\Local\Temp\ipykernel_17480\374832835.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df =df.fillna(method="bfill")
C:\Users\alfre\AppData\Local\Temp\ipykernel_17480\374832835.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df =df.fillna(method="ffill")

In [6]:
#Declaramos las variables dependientes e independientes para la regresión Logística
Vars_Indep= df[['pclass', 'age', 'fare']]
Var_Dep= df['alive']

In [31]:
#Redefinimos las variables 
X= Vars_Indep
y= Var_Dep

In [32]:
#Dividimos el conjunto de datos en la parte de entrenamiento y prueba:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state =None)

In [33]:
#Se escalan todos los datos
escalar = StandardScaler()

In [34]:
#Para realizar el escalamiento de las variables “X” tanto de entrenamiento como de prueba, utilizaremos fit_transform
X_train = escalar.fit_transform(X_train)
X_test = escalar.transform(X_test)

In [35]:
#Definimos el algoritmo a utilizar
from sklearn.linear_model import LogisticRegression
algoritmo = LogisticRegression()

In [36]:
#Entrenamos el modelo
algoritmo.fit(X_train, y_train)

LogisticRegression()

In [37]:
#Realizamos una predicción
y_pred = algoritmo.predict(X_test) 
y_pred

array(['no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes', 'no',
       'yes', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes',
       'yes', 'yes', 'no', 'no', 'yes', 'no', 'yes', 'no', 'no', 'no',
       'yes', 'no', 'no', 'yes', 'no', 'yes', 'no', 'yes', 'yes', 'no',
       'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no',
       'no', 'yes', 'yes', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no',
       'yes', 'no', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'yes',
       'yes', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'yes', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no',
       'no', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no',
       'no', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no',
       'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no',
       'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'no',
       'yes', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no',
       'no', 'yes', 'no', 'yes', 'yes', 'no', 'yes', 'no', 'no', 'no',
       'yes', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no',
       'no', 'yes', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no',
       'yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no',
       'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'no', 'yes', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no'],
      dtype=object)

In [38]:
#Verifico la matriz de Confusión
from sklearn.metrics import confusion_matrix
matriz = confusion_matrix(y_test, y_pred)
print('Matriz de Confusión:')
print(matriz)

Matriz de Confusión:
[[143  22]
 [ 49  54]]

In [39]:
#Calculo la precisión del modelo
from sklearn.metrics import precision_score

precision = precision_score(y_test, y_pred, average="binary", pos_label="no")
print('Precisión del modelo:')
print(precision)

Precisión del modelo:
0.7447916666666666

In [40]:
#Calculo la exactitud del modelo
from sklearn.metrics import accuracy_score

exactitud = accuracy_score(y_test, y_pred)
print('Exactitud del modelo:')
print(exactitud)

Exactitud del modelo:
0.7350746268656716

In [41]:
#Calculo la sensibilidad del modelo
from sklearn.metrics import recall_score

sensibilidad = recall_score(y_test, y_pred, average="binary", pos_label="yes")
print('Sensibilidad del modelo:')
print(sensibilidad)

Sensibilidad del modelo:
0.5242718446601942

In [42]:
# el puntaje F1 que es una combinación entre la precisión y la sensibilidad, para esto importamos f1_score.
#Calculo el Puntaje F1 del modelo
from sklearn.metrics import f1_score

puntajef1 = f1_score(y_test, y_pred, average="binary", pos_label="yes")
print('Puntaje F1 del modelo:')
print(puntajef1)

Puntaje F1 del modelo:
0.6033519553072626

**Reemplazar valores**

In [43]:
#Verificar los valores sin repetirse de una columna
unico = np.unique(df['class'])
unico

array(['First', 'Second', 'Third'], dtype=object)

In [44]:
#Convertimos una variable categórica a dicotómica 
df['class']= df['class'].replace(["Second", "Third"], "No First")
df

C:\Users\alfre\AppData\Local\Temp\ipykernel_12856\582512447.py:2: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df['class']= df['class'].replace(["Second", "Third"], "No First")

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.00,1,0,7.2500,S,No First,man,True,C,Southampton,no,False
1,1,1,female,38.00,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.00,0,0,7.9250,S,No First,woman,False,C,Southampton,yes,True
3,1,1,female,35.00,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.00,0,0,8.0500,S,No First,man,True,E,Southampton,no,True
5,0,3,male,54.00,0,0,8.4583,Q,No First,man,True,E,Queenstown,no,True
6,0,1,male,54.00,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.00,3,1,21.0750,S,No First,child,False,G,Southampton,no,False
8,1,3,female,27.00,0,2,11.1333,S,No First,woman,False,G,Southampton,yes,False
9,1,2,female,14.00,1,0,30.0708,C,No First,child,False,G,Cherbourg,yes,False
10,1,3,female,4.00,1,1,16.7000,S,No First,child,False,G,Southampton,yes,False
11,1,1,female,58.00,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
12,0,3,male,20.00,0,0,8.0500,S,No First,man,True,D,Southampton,no,True
13,0,3,male,39.00,1,5,31.2750,S,No First,man,True,D,Southampton,no,False
14,0,3,female,14.00,0,0,7.8542,S,No First,child,False,D,Southampton,no,True
15,1,2,female,55.00,0,0,16.0000,S,No First,woman,False,D,Southampton,yes,True
16,0,3,male,2.00,4,1,29.1250,Q,No First,child,False,D,Queenstown,no,False
17,1,2,male,31.00,0,0,13.0000,S,No First,man,True,D,Southampton,yes,True
18,0,3,female,31.00,1,0,18.0000,S,No First,woman,False,D,Southampton,no,False
19,1,3,female,35.00,0,0,7.2250,C,No First,woman,False,D,Cherbourg,yes,True
20,0,2,male,35.00,0,0,26.0000,S,No First,man,True,D,Southampton,no,True
21,1,2,male,34.00,0,0,13.0000,S,No First,man,True,D,Southampton,yes,True
22,1,3,female,15.00,0,0,8.0292,Q,No First,child,False,A,Queenstown,yes,True
23,1,1,male,28.00,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
24,0,3,female,8.00,3,1,21.0750,S,No First,child,False,C,Southampton,no,False
25,1,3,female,38.00,1,5,31.3875,S,No First,woman,False,C,Southampton,yes,False
26,0,3,male,19.00,0,0,7.2250,C,No First,man,True,C,Cherbourg,no,True
27,0,1,male,19.00,3,2,263.0000,S,First,man,True,C,Southampton,no,False
28,1,3,female,40.00,0,0,7.8792,Q,No First,woman,False,B,Queenstown,yes,True
29,0,3,male,40.00,0,0,7.8958,S,No First,man,True,B,Southampton,no,True
30,0,1,male,40.00,0,0,27.7208,C,First,man,True,B,Cherbourg,no,True
31,1,1,female,66.00,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False
32,1,3,female,66.00,0,0,7.7500,Q,No First,woman,False,D,Queenstown,yes,True
33,0,2,male,66.00,0,0,10.5000,S,No First,man,True,D,Southampton,no,True
34,0,1,male,28.00,1,0,82.1708,C,First,man,True,D,Cherbourg,no,False
35,0,1,male,42.00,1,0,52.0000,S,First,man,True,D,Southampton,no,False
36,1,3,male,21.00,0,0,7.2292,C,No First,man,True,D,Cherbourg,yes,True
37,0,3,male,21.00,0,0,8.0500,S,No First,man,True,D,Southampton,no,True
38,0,3,female,18.00,2,0,18.0000,S,No First,woman,False,D,Southampton,no,False
39,1,3,female,14.00,1,0,11.2417,C,No First,child,False,D,Cherbourg,yes,False
40,0,3,female,40.00,1,0,9.4750,S,No First,woman,False,D,Southampton,no,False
41,0,2,female,27.00,1,0,21.0000,S,No First,woman,False,D,Southampton,no,False
42,0,3,male,3.00,0,0,7.8958,C,No First,man,True,D,Cherbourg,no,True
43,1,2,female,3.00,1,2,41.5792,C,No First,child,False,D,Cherbourg,yes,False
44,1,3,female,19.00,0,0,7.8792,Q,No First,woman,False,D,Queenstown,yes,True
45,0,3,male,18.00,0,0,8.0500,S,No First,man,True,D,Southampton,no,True
46,0,3,male,18.00,1,0,15.5000,Q,No First,man,True,D,Queenstown,no,False
47,1,3,female,18.00,0,0,7.7500,Q,No First,woman,False,D,Queenstown,yes,True
48,0,3,male,18.00,2,0,21.6792,C,No First,man,True,D,Cherbourg,no,False
49,0,3,female,18.00,1,0,17.8000,S,No First,woman,False,D,Southampton,no,False
50,0,3,male,7.00,4,1,39.6875,S,No First,child,False,D,Southampton,no,False
51,0,3,male,21.00,0,0,7.8000,S,No First,man,True,D,Southampton,no,True
52,1,1,female,49.00,1,0,76.7292,C,First,woman,False,D,Cherbourg,yes,False
53,1,2,female,29.00,1,0,26.0000,S,No First,woman,False,B,Southampton,yes,False
54,0,1,male,65.00,0,1,61.9792,C,First,man,True,B,Cherbourg,no,False
55,1,1,male,21.00,0,0,35.5000,S,First,man,True,C,Southampton,yes,True
56,1,2,female,21.00,0,0,10.5000,S,No First,woman,False,B,Southampton,yes,True
57,0,3,male,28.50,0,0,7.2292,C,No First,man,True,B,Cherbourg,no,True
58,1,2,female,5.00,1,2,27.7500,S,No First,child,False,B,Southampton,yes,False
59,0,3,male,11.00,5,2,46.9000,S,No First,child,False,B,Southampton,no,False
60,0,3,male,22.00,0,0,7.2292,C,No First,man,True,B,Cherbourg,no,True
61,1,1,female,38.00,0,0,80.0000,S,First,woman,False,B,Southampton,yes,True
62,0,1,male,45.00,1,0,83.4750,S,First,man,True,C,Southampton,no,False
63,0,3,male,4.00,3,2,27.9000,S,No First,child,False,F,Southampton,no,False
64,0,1,male,29.00,0,0,27.7208,C,First,man,True,F,Cherbourg,no,True
65,1,3,male,29.00,1,1,15.2458,C,No First,man,True,F,Cherbourg,yes,False
66,1,2,female,29.00,0,0,10.5000,S,No First,woman,False,F,Southampton,yes,True
67,0,3,male,19.00,0,0,8.1583,S,No First,man,True,F,Southampton,no,True
68,1,3,female,17.00,4,2,7.9250,S,No First,woman,False,F,Southampton,yes,False
69,0,3,male,26.00,2,0,8.6625,S,No First,man,True,F,Southampton,no,False
70,0,2,male,32.00,0,0,10.5000,S,No First,man,True,F,Southampton,no,True
71,0,3,female,16.00,5,2,46.9000,S,No First,woman,False,F,Southampton,no,False
72,0,2,male,21.00,0,0,73.5000,S,No First,man,True,F,Southampton,no,True
73,0,3,male,26.00,1,0,14.4542,C,No First,man,True,F,Cherbourg,no,False
74,1,3,male,32.00,0,0,56.4958,S,No First,man,True,F,Southampton,yes,True
75,0,3,male,25.00,0,0,7.6500,S,No First,man,True,F,Southampton,no,True
76,0,3,male,0.83,0,0,7.8958,S,No First,man,True,C,Southampton,no,True
77,0,3,male,0.83,0,0,8.0500,S,No First,man,True,C,Southampton,no,True
78,1,2,male,0.83,0,2,29.0000,S,No First,child,False,C,Southampton,yes,False
79,1,3,female,30.00,0,0,12.4750,S,No First,woman,False,C,Southampton,yes,True
80,0,3,male,22.00,0,0,9.0000,S,No First,man,True,C,Southampton,no,True
81,1,3,male,29.00,0,0,9.5000,S,No First,man,True,C,Southampton,yes,True
82,1,3,female,28.00,0,0,7.7875,Q,No First,woman,False,C,Queenstown,yes,True
83,0,1,male,28.00,0,0,47.1000,S,First,man,True,C,Southampton,no,True
84,1,2,female,17.00,0,0,10.5000,S,No First,woman,False,C,Southampton,yes,True
85,1,3,female,33.00,3,0,15.8500,S,No First,woman,False,C,Southampton,yes,False
86,0,3,male,16.00,1,3,34.3750,S,No First,man,True,C,Southampton,no,False
87,0,3,male,23.00,0,0,8.0500,S,No First,man,True,C,Southampton,no,True
88,1,1,female,23.00,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
89,0,3,male,24.00,0,0,8.0500,S,No First,man,True,E,Southampton,no,True
90,0,3,male,29.00,0,0,8.0500,S,No First,man,True,E,Southampton,no,True
91,0,3,male,20.00,0,0,7.8542,S,No First,man,True,E,Southampton,no,True
92,0,1,male,46.00,1,0,61.1750,S,First,man,True,E,Southampton,no,False
93,0,3,male,26.00,1,2,20.5750,S,No First,man,True,A,Southampton,no,False
94,0,3,male,59.00,0,0,7.2500,S,No First,man,True,A,Southampton,no,True
95,0,3,male,71.00,0,0,8.0500,S,No First,man,True,A,Southampton,no,True
96,0,1,male,71.00,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
97,1,1,male,23.00,0,1,63.3583,C,First,man,True,D,Cherbourg,yes,False
98,1,2,female,34.00,0,1,23.0000,S,No First,woman,False,D,Southampton,yes,False
99,0,2,male,34.00,1,0,26.0000,S,No First,man,True,D,Southampton,no,False
100,0,3,female,28.00,0,0,7.8958,S,No First,woman,False,D,Southampton,no,True
101,0,3,male,21.00,0,0,7.8958,S,No First,man,True,D,Southampton,no,True
102,0,1,male,21.00,0,1,77.2875,S,First,man,True,D,Southampton,no,False
103,0,3,male,33.00,0,0,8.6542,S,No First,man,True,C,Southampton,no,True
104,0,3,male,37.00,2,0,7.9250,S,No First,man,True,C,Southampton,no,False
105,0,3,male,28.00,0,0,7.8958,S,No First,man,True,C,Southampton,no,True
106,1,3,female,21.00,0,0,7.6500,S,No First,woman,False,C,Southampton,yes,True
107,1,3,male,38.00,0,0,7.7750,S,No First,man,True,C,Southampton,yes,True
108,0,3,male,38.00,0,0,7.8958,S,No First,man,True,C,Southampton,no,True
109,1,3,female,47.00,1,0,24.1500,Q,No First,woman,False,C,Queenstown,yes,False
110,0,1,male,47.00,0,0,52.0000,S,First,man,True,C,Southampton,no,True
111,0,3,female,14.50,1,0,14.4542,C,No First,child,False,B,Cherbourg,no,False
112,0,3,male,22.00,0,0,8.0500,S,No First,man,True,B,Southampton,no,True
113,0,3,female,20.00,1,0,9.8250,S,No First,woman,False,B,Southampton,no,False
114,0,3,female,17.00,0,0,14.4583,C,No First,woman,False,B,Cherbourg,no,True
115,0,3,male,21.00,0,0,7.9250,S,No First,man,True,B,Southampton,no,True
116,0,3,male,70.50,0,0,7.7500,Q,No First,man,True,B,Queenstown,no,True
117,0,2,male,29.00,1,0,21.0000,S,No First,man,True,B,Southampton,no,False
118,0,1,male,24.00,0,1,247.5208,C,First,man,True,B,Cherbourg,no,False
119,0,3,female,2.00,4,2,31.2750,S,No First,child,False,E,Southampton,no,False
120,0,2,male,21.00,2,0,73.5000,S,No First,man,True,E,Southampton,no,False
121,0,3,male,32.50,0,0,8.0500,S,No First,man,True,E,Southampton,no,True
122,0,2,male,32.50,1,0,30.0708,C,No First,man,True,E,Cherbourg,no,False
123,1,2,female,32.50,0,0,13.0000,S,No First,woman,False,E,Southampton,yes,True
124,0,1,male,54.00,0,1,77.2875,S,First,man,True,D,Southampton,no,False
125,1,3,male,12.00,1,0,11.2417,C,No First,child,False,F,Cherbourg,yes,False
126,0,3,male,24.00,0,0,7.7500,Q,No First,man,True,F,Queenstown,no,True
127,1,3,male,24.00,0,0,7.1417,S,No First,man,True,F,Southampton,yes,True
128,1,3,female,45.00,1,1,22.3583,C,No First,woman,False,F,Cherbourg,yes,False
129,0,3,male,45.00,0,0,6.9750,S,No First,man,True,D,Southampton,no,True
130,0,3,male,33.00,0,0,7.8958,C,No First,man,True,D,Cherbourg,no,True
131,0,3,male,20.00,0,0,7.0500,S,No First,man,True,D,Southampton,no,True
132,0,3,female,47.00,1,0,14.5000,S,No First,woman,False,D,Southampton,no,False
133,1,2,female,29.00,1,0,26.0000,S,No First,woman,False,D,Southampton,yes,False
134,0,2,male,25.00,0,0,13.0000,S,No First,man,True,D,Southampton,no,True
135,0,2,male,23.00,0,0,15.0458,C,No First,man,True,D,Cherbourg,no,True
136,1,1,female,19.00,0,2,26.2833,S,First,woman,False,D,Southampton,yes,False
137,0,1,male,37.00,1,0,53.1000,S,First,man,True,C,Southampton,no,False
138,0,3,male,16.00,0,0,9.2167,S,No First,man,True,B,Southampton,no,True
139,0,1,male,24.00,0,0,79.2000,C,First,man,True,B,Cherbourg,no,True
140,0,3,female,22.00,0,2,15.2458,C,No First,woman,False,F,Cherbourg,no,False
141,1,3,female,22.00,0,0,7.7500,S,No First,woman,False,F,Southampton,yes,True
142,1,3,female,24.00,1,0,15.8500,S,No First,woman,False,F,Southampton,yes,False
143,0,3,male,19.00,0,0,6.7500,Q,No First,man,True,F,Queenstown,no,True
144,0,2,male,18.00,0,0,11.5000,S,No First,man,True,F,Southampton,no,True
145,0,2,male,19.00,1,1,36.7500,S,No First,man,True,F,Southampton,no,False
146,1,3,male,27.00,0,0,7.7958,S,No First,man,True,F,Southampton,yes,True
147,0,3,female,9.00,2,2,34.3750,S,No First,child,False,F,Southampton,no,False
148,0,2,male,36.50,0,2,26.0000,S,No First,man,True,F,Southampton,no,False
149,0,2,male,42.00,0,0,13.0000,S,No First,man,True,C,Southampton,no,True
150,0,2,male,51.00,0,0,12.5250,S,No First,man,True,C,Southampton,no,True
151,1,1,female,22.00,1,0,66.6000,S,First,woman,False,C,Southampton,yes,False
152,0,3,male,55.50,0,0,8.0500,S,No First,man,True,E,Southampton,no,True
153,0,3,male,40.50,0,2,14.5000,S,No First,man,True,E,Southampton,no,False
154,0,3,male,51.00,0,0,7.3125,S,No First,man,True,E,Southampton,no,True
155,0,1,male,51.00,0,1,61.3792,C,First,man,True,E,Cherbourg,no,False
156,1,3,female,16.00,0,0,7.7333,Q,No First,woman,False,E,Queenstown,yes,True
157,0,3,male,30.00,0,0,8.0500,S,No First,man,True,E,Southampton,no,True
158,0,3,male,44.00,0,0,8.6625,S,No First,man,True,E,Southampton,no,True
159,0,3,male,44.00,8,2,69.5500,S,No First,man,True,E,Southampton,no,False
160,0,3,male,44.00,0,1,16.1000,S,No First,man,True,E,Southampton,no,False
161,1,2,female,40.00,0,0,15.7500,S,No First,woman,False,E,Southampton,yes,True
162,0,3,male,26.00,0,0,7.7750,S,No First,man,True,E,Southampton,no,True
163,0,3,male,17.00,0,0,8.6625,S,No First,man,True,E,Southampton,no,True
164,0,3,male,1.00,4,1,39.6875,S,No First,child,False,E,Southampton,no,False
165,1,3,male,9.00,0,2,20.5250,S,No First,child,False,E,Southampton,yes,False
166,1,1,female,45.00,0,1,55.0000,S,First,woman,False,E,Southampton,yes,False
167,0,3,female,45.00,1,4,27.9000,S,No First,woman,False,B,Southampton,no,False
168,0,1,male,28.00,0,0,25.9250,S,First,man,True,B,Southampton,no,True
169,0,3,male,28.00,0,0,56.4958,S,No First,man,True,B,Southampton,no,True
170,0,1,male,61.00,0,0,33.5000,S,First,man,True,B,Southampton,no,True
171,0,3,male,4.00,4,1,29.1250,Q,No First,child,False,A,Queenstown,no,False
172,1,3,female,1.00,1,1,11.1333,S,No First,child,False,A,Southampton,yes,False
173,0,3,male,21.00,0,0,7.9250,S,No First,man,True,A,Southampton,no,True
174,0,1,male,56.00,0,0,30.6958,C,First,man,True,A,Cherbourg,no,True
175,0,3,male,18.00,1,1,7.8542,S,No First,man,True,C,Southampton,no,False
176,0,3,male,50.00,3,1,25.4667,S,No First,man,True,C,Southampton,no,False
177,0,1,female,50.00,0,0,28.7125,C,First,woman,False,C,Cherbourg,no,True
178,0,2,male,30.00,0,0,13.0000,S,No First,man,True,F,Southampton,no,True
179,0,3,male,36.00,0,0,0.0000,S,No First,man,True,F,Southampton,no,True
180,0,3,female,9.00,8,2,69.5500,S,No First,woman,False,F,Southampton,no,False
181,0,2,male,9.00,0,0,15.0500,C,No First,man,True,F,Cherbourg,no,True
182,0,3,male,9.00,4,2,31.3875,S,No First,child,False,F,Southampton,no,False
183,1,2,male,1.00,2,1,39.0000,S,No First,child,False,F,Southampton,yes,False
184,1,3,female,4.00,0,2,22.0250,S,No First,child,False,A,Southampton,yes,False
185,0,1,male,45.00,0,0,50.0000,S,First,man,True,A,Southampton,no,True
186,1,3,female,45.00,1,0,15.5000,Q,No First,woman,False,F,Queenstown,yes,False
187,1,1,male,45.00,0,0,26.5500,S,First,man,True,F,Southampton,yes,True
188,0,3,male,40.00,1,1,15.5000,Q,No First,man,True,F,Queenstown,no,False
189,0,3,male,36.00,0,0,7.8958,S,No First,man,True,F,Southampton,no,True
190,1,2,female,32.00,0,0,13.0000,S,No First,woman,False,F,Southampton,yes,True
191,0,2,male,19.00,0,0,13.0000,S,No First,man,True,F,Southampton,no,True
192,1,3,female,19.00,1,0,7.8542,S,No First,woman,False,F,Southampton,yes,False
193,1,2,male,3.00,1,1,26.0000,S,No First,child,False,F,Southampton,yes,False
194,1,1,female,44.00,0,0,27.7208,C,First,woman,False,B,Cherbourg,yes,True
195,1,1,female,58.00,0,0,146.5208,C,First,woman,False,B,Cherbourg,yes,True
196,0,3,male,42.00,0,0,7.7500,Q,No First,man,True,G,Queenstown,no,True
197,0,3,male,42.00,0,1,8.4042,S,No First,man,True,G,Southampton,no,False
198,1,3,female,24.00,0,0,7.7500,Q,No First,woman,False,G,Queenstown,yes,True
199,0,2,female,24.00,0,0,13.0000,S,No First,woman,False,G,Southampton,no,True
200,0,3,male,28.00,0,0,9.5000,S,No First,man,True,G,Southampton,no,True
201,0,3,male,34.00,8,2,69.5500,S,No First,man,True,G,Southampton,no,False
202,0,3,male,34.00,0,0,6.4958,S,No First,man,True,G,Southampton,no,True
203,0,3,male,45.50,0,0,7.2250,C,No First,man,True,G,Cherbourg,no,True
204,1,3,male,18.00,0,0,8.0500,S,No First,man,True,G,Southampton,yes,True
205,0,3,female,2.00,0,1,10.4625,S,No First,child,False,G,Southampton,no,False
206,0,3,male,32.00,1,0,15.8500,S,No First,man,True,A,Southampton,no,False
207,1,3,male,26.00,0,0,18.7875,C,No First,man,True,A,Cherbourg,yes,True
208,1,3,female,16.00,0,0,7.7500,Q,No First,woman,False,A,Queenstown,yes,True
209,1,1,male,40.00,0,0,31.0000,C,First,man,True,A,Cherbourg,yes,True
210,0,3,male,24.00,0,0,7.0500,S,No First,man,True,D,Southampton,no,True
211,1,2,female,35.00,0,0,21.0000,S,No First,woman,False,D,Southampton,yes,True
212,0,3,male,22.00,0,0,7.2500,S,No First,man,True,D,Southampton,no,True
213,0,2,male,30.00,0,0,13.0000,S,No First,man,True,D,Southampton,no,True
214,0,3,male,31.00,1,0,7.7500,Q,No First,man,True,D,Queenstown,no,False
215,1,1,female,31.00,1,0,113.2750,C,First,woman,False,D,Cherbourg,yes,False
216,1,3,female,27.00,0,0,7.9250,S,No First,woman,False,D,Southampton,yes,True
217,0,2,male,42.00,1,0,27.0000,S,No First,man,True,D,Southampton,no,False
218,1,1,female,32.00,0,0,76.2917,C,First,woman,False,D,Cherbourg,yes,True
219,0,2,male,30.00,0,0,10.5000,S,No First,man,True,C,Southampton,no,True
220,1,3,male,16.00,0,0,8.0500,S,No First,man,True,C,Southampton,yes,True
221,0,2,male,27.00,0,0,13.0000,S,No First,man,True,C,Southampton,no,True
222,0,3,male,51.00,0,0,8.0500,S,No First,man,True,C,Southampton,no,True
223,0,3,male,38.00,0,0,7.8958,S,No First,man,True,C,Southampton,no,True
224,1,1,male,38.00,1,0,90.0000,S,First,man,True,C,Southampton,yes,False
225,0,3,male,22.00,0,0,9.3500,S,No First,man,True,C,Southampton,no,True
226,1,2,male,19.00,0,0,10.5000,S,No First,man,True,C,Southampton,yes,True
227,0,3,male,20.50,0,0,7.2500,S,No First,man,True,C,Southampton,no,True
228,0,2,male,18.00,0,0,13.0000,S,No First,man,True,C,Southampton,no,True
229,0,3,female,35.00,3,1,25.4667,S,No First,woman,False,C,Southampton,no,False
230,1,1,female,35.00,1,0,83.4750,S,First,woman,False,C,Southampton,yes,False
231,0,3,male,29.00,0,0,7.7750,S,No First,man,True,C,Southampton,no,True
232,0,2,male,59.00,0,0,13.5000,S,No First,man,True,C,Southampton,no,True
233,1,3,female,5.00,4,2,31.3875,S,No First,child,False,C,Southampton,yes,False
234,0,2,male,24.00,0,0,10.5000,S,No First,man,True,C,Southampton,no,True
235,0,3,female,44.00,0,0,7.5500,S,No First,woman,False,C,Southampton,no,True
236,0,2,male,44.00,1,0,26.0000,S,No First,man,True,C,Southampton,no,False
237,1,2,female,8.00,0,2,26.2500,S,No First,child,False,C,Southampton,yes,False
238,0,2,male,19.00,0,0,10.5000,S,No First,man,True,C,Southampton,no,True
239,0,2,male,33.00,0,0,12.2750,S,No First,man,True,C,Southampton,no,True
240,0,3,female,29.00,1,0,14.4542,C,No First,woman,False,C,Cherbourg,no,False
241,1,3,female,29.00,1,0,15.5000,Q,No First,woman,False,C,Queenstown,yes,False
242,0,2,male,29.00,0,0,10.5000,S,No First,man,True,C,Southampton,no,True
243,0,3,male,22.00,0,0,7.1250,S,No First,man,True,C,Southampton,no,True
244,0,3,male,30.00,0,0,7.2250,C,No First,man,True,C,Cherbourg,no,True
245,0,1,male,44.00,2,0,90.0000,Q,First,man,True,C,Queenstown,no,False
246,0,3,female,25.00,0,0,7.7750,S,No First,woman,False,D,Southampton,no,True
247,1,2,female,24.00,0,2,14.5000,S,No First,woman,False,D,Southampton,yes,False
248,1,1,male,37.00,1,1,52.5542,S,First,man,True,D,Southampton,yes,False
249,0,2,male,54.00,1,0,26.0000,S,No First,man,True,G,Southampton,no,False
250,0,3,male,29.00,0,0,7.2500,S,No First,man,True,G,Southampton,no,True
251,0,3,female,29.00,1,1,10.4625,S,No First,woman,False,G,Southampton,no,False
252,0,1,male,62.00,0,0,26.5500,S,First,man,True,C,Southampton,no,True
253,0,3,male,30.00,1,0,16.1000,S,No First,man,True,B,Southampton,no,False
254,0,3,female,41.00,0,2,20.2125,S,No First,woman,False,B,Southampton,no,False
255,1,3,female,29.00,0,2,15.2458,C,No First,woman,False,B,Cherbourg,yes,False
256,1,1,female,30.00,0,0,79.2000,C,First,woman,False,B,Cherbourg,yes,True
257,1,1,female,30.00,0,0,86.5000,S,First,woman,False,B,Southampton,yes,True
258,1,1,female,35.00,0,0,512.3292,C,First,woman,False,E,Cherbourg,yes,True
259,1,2,female,50.00,0,1,26.0000,S,No First,woman,False,E,Southampton,yes,False
260,0,3,male,3.00,0,0,7.7500,Q,No First,man,True,E,Queenstown,no,True
261,1,3,male,3.00,4,2,31.3875,S,No First,child,False,E,Southampton,yes,False
262,0,1,male,52.00,1,1,79.6500,S,First,man,True,E,Southampton,no,False
263,0,1,male,40.00,0,0,0.0000,S,First,man,True,B,Southampton,no,True
264,0,3,female,36.00,0,0,7.7500,Q,No First,woman,False,C,Queenstown,no,True
265,0,2,male,36.00,0,0,10.5000,S,No First,man,True,C,Southampton,no,True
266,0,3,male,16.00,4,1,39.6875,S,No First,man,True,C,Southampton,no,False
267,1,3,male,25.00,1,0,7.7750,S,No First,man,True,C,Southampton,yes,False
268,1,1,female,58.00,0,1,153.4625,S,First,woman,False,C,Southampton,yes,False

**Creación de Categorias a partir de clases**

In [45]:
#Obtenemos el limite superior y el límite inferior de la columna objetivo
Max=df['age'].max()
Min=df['age'].min()
Limites= [Min, Max]
Limites

[0.42, 80.0]

In [46]:
#Categorización de variables
#Declaramos 2 intervalos 
intervalos=np.linspace(0.41, 80.1, 3)
intervalos

array([ 0.41 , 40.255, 80.1  ])

In [47]:
#Creamos las categorías 
categorias= ["Young people", "Old people"]

In [48]:
# Ajustar maximo de filas
pd.options.display.max_rows = None

In [49]:
#Finalmente creamos las categorías en la columna numérica
df['age']=pd.cut(x= df['age'], bins=intervalos, labels= categorias )

In [50]:
df['age']

0      Young people
1      Young people
2      Young people
3      Young people
4      Young people
5        Old people
6        Old people
7      Young people
8      Young people
9      Young people
10     Young people
11       Old people
12     Young people
13     Young people
14     Young people
15       Old people
16     Young people
17     Young people
18     Young people
19     Young people
20     Young people
21     Young people
22     Young people
23     Young people
24     Young people
25     Young people
26     Young people
27     Young people
28     Young people
29     Young people
30     Young people
31       Old people
32       Old people
33       Old people
34     Young people
35       Old people
36     Young people
37     Young people
38     Young people
39     Young people
40     Young people
41     Young people
42     Young people
43     Young people
44     Young people
45     Young people
46     Young people
47     Young people
48     Young people
49     Young people
50     Young people
51     Young people
52       Old people
53     Young people
54       Old people
55     Young people
56     Young people
57     Young people
58     Young people
59     Young people
60     Young people
61     Young people
62       Old people
63     Young people
64     Young people
65     Young people
66     Young people
67     Young people
68     Young people
69     Young people
70     Young people
71     Young people
72     Young people
73     Young people
74     Young people
75     Young people
76     Young people
77     Young people
78     Young people
79     Young people
80     Young people
81     Young people
82     Young people
83     Young people
84     Young people
85     Young people
86     Young people
87     Young people
88     Young people
89     Young people
90     Young people
91     Young people
92       Old people
93     Young people
94       Old people
95       Old people
96       Old people
97     Young people
98     Young people
99     Young people
100    Young people
101    Young people
102    Young people
103    Young people
104    Young people
105    Young people
106    Young people
107    Young people
108    Young people
109      Old people
110      Old people
111    Young people
112    Young people
113    Young people
114    Young people
115    Young people
116      Old people
117    Young people
118    Young people
119    Young people
120    Young people
121    Young people
122    Young people
123    Young people
124      Old people
125    Young people
126    Young people
127    Young people
128      Old people
129      Old people
130    Young people
131    Young people
132      Old people
133    Young people
134    Young people
135    Young people
136    Young people
137    Young people
138    Young people
139    Young people
140    Young people
141    Young people
142    Young people
143    Young people
144    Young people
145    Young people
146    Young people
147    Young people
148    Young people
149      Old people
150      Old people
151    Young people
152      Old people
153      Old people
154      Old people
155      Old people
156    Young people
157    Young people
158      Old people
159      Old people
160      Old people
161    Young people
162    Young people
163    Young people
164    Young people
165    Young people
166      Old people
167      Old people
168    Young people
169    Young people
170      Old people
171    Young people
172    Young people
173    Young people
174      Old people
175    Young people
176      Old people
177      Old people
178    Young people
179    Young people
180    Young people
181    Young people
182    Young people
183    Young people
184    Young people
185      Old people
186      Old people
187      Old people
188    Young people
189    Young people
190    Young people
191    Young people
192    Young people
193    Young people
194      Old people
195      Old people
196      Old people
197      Old people
198    Young people
199    Young people
200    Young people
201    Young people
202    Young people
203      Old people
204    Young people
205    Young people
206    Young people
207    Young people
208    Young people
209    Young people
210    Young people
211    Young people
212    Young people
213    Young people
214    Young people
215    Young people
216    Young people
217      Old people
218    Young people
219    Young people
220    Young people
221    Young people
222      Old people
223    Young people
224    Young people
225    Young people
226    Young people
227    Young people
228    Young people
229    Young people
230    Young people
231    Young people
232      Old people
233    Young people
234    Young people
235      Old people
236      Old people
237    Young people
238    Young people
239    Young people
240    Young people
241    Young people
242    Young people
243    Young people
244    Young people
245      Old people
246    Young people
247    Young people
248    Young people
249      Old people
250    Young people
251    Young people
252      Old people
253    Young people
254      Old people
255    Young people
256    Young people
257    Young people
258    Young people
259      Old people
260    Young people
261    Young people
262      Old people
263    Young people
264    Young people
265    Young people
266    Young people
267    Young people
268      Old people
269    Young people
270    Young people
271    Young people
272      Old people
273    Young people
274      Old people
275      Old people
276      Old people
277    Young people
278    Young people
279    Young people
280      Old people
281    Young people
282    Young people
283    Young people
284    Young people
285    Young people
286    Young people
287    Young people
288      Old people
289    Young people
290    Young people
291    Young people
292    Young people
293    Young people
294    Young people
295    Young people
296    Young people
297    Young people
298      Old people
299      Old people
300    Young people
301    Young people
302    Young people
303    Young people
304    Young people
305    Young people
306    Young people
307    Young people
308    Young people
309    Young people
310    Young people
311    Young people
312    Young people
313    Young people
314      Old people
315    Young people
316    Young people
317      Old people
318    Young people
319    Young people
320    Young people
321    Young people
322    Young people
323    Young people
324    Young people
325    Young people
326      Old people
327    Young people
328    Young people
329    Young people
330      Old people
331      Old people
332    Young people
333    Young people
334    Young people
335    Young people
336    Young people
337      Old people
338      Old people
339      Old people
340    Young people
341    Young people
342    Young people
343    Young people
344    Young people
345    Young people
346    Young people
347    Young people
348    Young people
349      Old people
350    Young people
351    Young people
352    Young people
353    Young people
354    Young people
355    Young people
356    Young people
357    Young people
358    Young people
359    Young people
360    Young people
361    Young people
362      Old people
363    Young people
364    Young people
365    Young people
366      Old people
367    Young people
368    Young people
369    Young people
370    Young people
371    Young people
372    Young people
373    Young people
374    Young people
375    Young people
376    Young people
377    Young people
378    Young people
379    Young people
380      Old people
381    Young people
382    Young people
383    Young people
384    Young people
385    Young people
386    Young people
387    Young people
388    Young people
389    Young people
390    Young people
391    Young people
392    Young people
393    Young people
394    Young people
395    Young people
396    Young people
397      Old people
398    Young people
399    Young people
400    Young people
401    Young people
402    Young people
403    Young people
404    Young people
405    Young people
406      Old people
407    Young people
408    Young people
409    Young people
410    Young people
411    Young people
412    Young people
413      Old people
414      Old people
415    Young people
416    Young people
417    Young people
418    Young people
419    Young people
420    Young people
421    Young people
422    Young people
423    Young people
424    Young people
425    Young people
426    Young people
427    Young people
428    Young people
429    Young people
430    Young people
431      Old people
432      Old people
433    Young people
434      Old people
435    Young people
436    Young people
437    Young people
438      Old people
439    Young people
440      Old people
441    Young people
442    Young people
443    Young people
444    Young people
445    Young people
446    Young people
447    Young people
448    Young people
449      Old people
450    Young people
451    Young people
452    Young people
453      Old people
454    Young people
455    Young people
456      Old people
457      Old people
458      Old people
459      Old people
460      Old people
461    Young people
462      Old people
463      Old people
464    Young people
465    Young people
466      Old people
467      Old people
468    Young people
469    Young people
470    Young people
471    Young people
472    Young people
473    Young people
474    Young people
475    Young people
476    Young people
477    Young people
478    Young people
479    Young people
480    Young people
481      Old people
482      Old people
483      Old people
484    Young people
485    Young people
486    Young people
487      Old people
488    Young people
489    Young people
490    Young people
491    Young people
492      Old people
493      Old people
494    Young people
495      Old people
496      Old people
497    Young people
498    Young people
499    Young people
500    Young people
501    Young people
502    Young people
503    Young people
504    Young people
505    Young people
506    Young people
507    Young people
508    Young people
509    Young people
510    Young people
511    Young people
512    Young people
513      Old people
514    Young people
515      Old people
516    Young people
517    Young people
518    Young people
519    Young people
520    Young people
521    Young people
522      Old people
523      Old people
524      Old people
525      Old people
526      Old people
527    Young people
528    Young people
529    Young people
530    Young people
531    Young people
532    Young people
533    Young people
534    Young people
535    Young people
536      Old people
537    Young people
538    Young people
539    Young people
540    Young people
541    Young people
542    Young people
543    Young people
544      Old people
545      Old people
546    Young people
547    Young people
548    Young people
549    Young people
550    Young people
551    Young people
552    Young people
553    Young people
554    Young people
555      Old people
556      Old people
557    Young people
558    Young people
559    Young people
560    Young people
561    Young people
562    Young people
563    Young people
564    Young people
565    Young people
566    Young people
567    Young people
568    Young people
569    Young people
570      Old people
571      Old people
572    Young people
573    Young people
574    Young people
575    Young people
576    Young people
577    Young people
578    Young people
579    Young people
580    Young people
581    Young people
582      Old people
583    Young people
584    Young people
585    Young people
586      Old people
587      Old people
588    Young people
589    Young people
590    Young people
591      Old people
592      Old people
593    Young people
594    Young people
595    Young people
596      Old people
597      Old people
598      Old people
599      Old people
600    Young people
601      Old people
602      Old people
603      Old people
604    Young people
605    Young people
606    Young people
607    Young people
608    Young people
609    Young people
610    Young people
611    Young people
612    Young people
613    Young people
614    Young people
615    Young people
616    Young people
617    Young people
618    Young people
619    Young people
620    Young people
621      Old people
622    Young people
623    Young people
624    Young people
625      Old people
626      Old people
627    Young people
628    Young people
629      Old people
630      Old people
631      Old people
632    Young people
633    Young people
634    Young people
635    Young people
636    Young people
637    Young people
638      Old people
639    Young people
640    Young people
641    Young people
642    Young people
643    Young people
644    Young people
645      Old people
646    Young people
647      Old people
648    Young people
649    Young people
650    Young people
651    Young people
652    Young people
653    Young people
654    Young people
655    Young people
656    Young people
657    Young people
658    Young people
659      Old people
660      Old people
661    Young people
662      Old people
663    Young people
664    Young people
665    Young people
666    Young people
667      Old people
668      Old people
669    Young people
670    Young people
671    Young people
672      Old people
673    Young people
674    Young people
675    Young people
676    Young people
677    Young people
678      Old people
679    Young people
680    Young people
681    Young people
682    Young people
683    Young people
684      Old people
685    Young people
686    Young people
687    Young people
688    Young people
689    Young people
690    Young people
691    Young people
692    Young people
693    Young people
694      Old people
695      Old people
696      Old people
697      Old people
698      Old people
699      Old people
700    Young people
701    Young people
702    Young people
703    Young people
704    Young people
705    Young people
706      Old people
707      Old people
708    Young people
709    Young people
710    Young people
711      Old people
712      Old people
713    Young people
714      Old people
715    Young people
716    Young people
717    Young people
718    Young people
719    Young people
720    Young people
721    Young people
722    Young people
723      Old people
724    Young people
725    Young people
726    Young people
727    Young people
728    Young people
729    Young people
730    Young people
731    Young people
732    Young people
733    Young people
734    Young people
735    Young people
736      Old people
737    Young people
738    Young people
739    Young people
740    Young people
741    Young people
742    Young people
743    Young people
744    Young people
745      Old people
746    Young people
747    Young people
748    Young people
749    Young people
750    Young people
751    Young people
752    Young people
753    Young people
754      Old people
755    Young people
756    Young people
757    Young people
758    Young people
759    Young people
760      Old people
761      Old people
762    Young people
763    Young people
764    Young people
765      Old people
766    Young people
767    Young people
768    Young people
769    Young people
770    Young people
771      Old people
772      Old people
773      Old people
774      Old people
775    Young people
776    Young people
777    Young people
778      Old people
779      Old people
780    Young people
781    Young people
782    Young people
783    Young people
784    Young people
785    Young people
786    Young people
787    Young people
788    Young people
789      Old people
790    Young people
791    Young people
792    Young people
793    Young people
794    Young people
795    Young people
796      Old people
797    Young people
798    Young people
799    Young people
800    Young people
801    Young people
802    Young people
803    Young people
804    Young people
805    Young people
806    Young people
807    Young people
808    Young people
809    Young people
810    Young people
811    Young people
812    Young people
813    Young people
814    Young people
815    Young people
816    Young people
817    Young people
818      Old people
819    Young people
820      Old people
821    Young people
822    Young people
823    Young people
824    Young people
825    Young people
826    Young people
827    Young people
828      Old people
829      Old people
830    Young people
831    Young people
832    Young people
833    Young people
834    Young people
835    Young people
836    Young people
837    Young people
838    Young people
839    Young people
840    Young people
841    Young people
842    Young people
843    Young people
844    Young people
845      Old people
846    Young people
847    Young people
848    Young people
849    Young people
850    Young people
851      Old people
852    Young people
853    Young people
854      Old people
855    Young people
856      Old people
857      Old people
858    Young people
859      Old people
860      Old people
861    Young people
862      Old people
863    Young people
864    Young people
865      Old people
866    Young people
867    Young people
868    Young people
869    Young people
870    Young people
871      Old people
872    Young people
873      Old people
874    Young people
875    Young people
876    Young people
877    Young people
878      Old people
879      Old people
880    Young people
881    Young people
882    Young people
883    Young people
884    Young people
885    Young people
886    Young people
887    Young people
888    Young people
889    Young people
890    Young people
Name: age, dtype: category
Categories (2, object): ['Young people' < 'Old people']